/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use 'swiper/css/bundle';

// Testimonials text
.wp-block-pullquote {
    padding: 1.9rem 0;
}

.wp-block-pullquote p,
.wp-block-pullquote cite {
    font-size: 1.1rem;
    text-align: left;
}

.wp-block-pullquote blockquote {
    padding: 0.5rem;
    margin: 0 0.4rem;
}

// Center text on larger screens and add more margin to the blockquote
@media (min-width: 37.5em) {
    .wp-block-pullquote p,
    .wp-block-pullquote cite {
        text-align: center;
        font-size: 1.2rem;
    }

    .wp-block-pullquote blockquote {
        margin: 0 1.9rem;
    }
}

// Slider styling 

.wp-block-hhc-blocks-testimonials-slider {
    position: relative;
    background-color: #EAB394;
    border: 1px solid #2C4A7A;
    border-radius: 5px;
}

// Swiper buttons (arrows)

.swiper:not(.swiper-navigation-disabled) {
    width: calc(100% - 4rem);
}

.swiper:not(.swiper-navigation-disabled)~.swiper-button-next {
    margin-right: 0.5rem;
}

.swiper:not(.swiper-navigation-disabled)~.swiper-button-prev {
    margin-left: 0.5rem;
}

.swiper-button-next,
.swiper-button-prev {
    background: none;
    border: none;
    color: var(--arrow-color);
}

@media (max-width: 37.5em) {
    /* Give the slider room for arrows at the bottom */
    .wp-block-hhc-blocks-testimonials-slider .swiper {
        margin-bottom: 3.5rem;
    }

    /* Stop vertical centering */
    .wp-block-hhc-blocks-testimonials-slider .swiper-button-prev,
    .wp-block-hhc-blocks-testimonials-slider .swiper-button-next {
        top: auto;
        bottom: 0;
        transform: none;
    }

    /* Put arrows in the center */
    .wp-block-hhc-blocks-testimonials-slider .swiper-button-prev {
        left: calc(50% - 5rem);
        margin-bottom: 1.8rem;
        margin-top: 1.5rem;
    }

    .wp-block-hhc-blocks-testimonials-slider .swiper-button-next {
        right: calc(50% - 5rem);
        margin-bottom: 1.8rem;
        margin-top: 1.5rem;
    }
}

// Pagination bullets

// Hide pagination on mobile to avoid clutter; show on larger screens
.swiper-pagination-bullets.swiper-pagination-clickable {
    display: none;
}

@media (min-width: 37.5em) {
    .swiper-pagination.swiper-pagination-clickable {
        display: block;
    }
}

// Position pagination bullets above the slider buttons to avoid overlap
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 3em;
}

@media (min-width: 37.5em) {
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 1.5rem;
    }
}

// Increase size of bullets
.swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #664024;
}

.swiper-pagination-bullet-active {
    background-color: var(--arrow-color)
}

// Lower z-index to ensure they don't cover the header 
button.swiper-button-prev,
button.swiper-button-next,
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    z-index: 3;
}