/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.hhc-link-wrapper {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.hhc-link-wrapper:hover {
  opacity: 0.9;
}

