/* =================================================
NAVIGATION 
================================================= */

/* ------------------ Header -------------------  */

header {
  z-index: 300;
}

.wp-block-navigation-item.home-link.wp-block-navigation-link a:hover,
.wp-block-navigation-item.services-link.wp-block-navigation-link a:hover,
.about-link.wp-block-navigation-submenu a:hover,
.wp-block-navigation-item.resources-link.wp-block-navigation-link a:hover {
  color: #664024;
  text-decoration: underline;
}

.wp-block-navigation-item.meet-christine.wp-block-navigation-link a:hover,
.wp-block-navigation-item.faq-rates.wp-block-navigation-link a:hover,
.wp-block-navigation-item.general-policies.wp-block-navigation-link a:hover {
  background-color: #14243e;
  color: #f2e9dd !important;
}

.wp-block-navigation-item.contact-link {
  padding: 10px;
  background-color: #7bbdbb;
  color: #14243e;
  border-radius: 5px;
}

.wp-block-navigation-item.contact-link:hover {
  background-color: #664024;
  color: #f2e9dd;
}

.wp-block-group.header-address {
  padding: 0 1rem !important;
}

/* Dropdown block */
.wp-block-navigation
  .wp-block-navigation-item.about-link.wp-block-navigation-submenu
  > .wp-block-navigation__submenu-container {
  border-radius: 5px !important;
  overflow: hidden !important;
}

/* Mobile menu until 620px */
@media (max-width: 38.75em) {
    .wp-block-navigation:not(.has-modal-open) .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
        display: none;
    }

    .wp-block-navigation .wp-block-navigation__responsive-container-open {
        display: flex !important;
    }
}

/* Desktop menu at 621px and above */
@media (min-width: 38.8125em) {
    .wp-block-navigation:not(.has-modal-open) .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
        display: flex !important;
    }

    .wp-block-navigation .wp-block-navigation__responsive-container-open {
        display: none !important;
    }
}

/* Change font size on smaller screens */
@media (min-width: 38.8125em) and (max-width: 42.5em) {
  header nav.wp-block-navigation .wp-block-navigation__container a {
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 38.75em) {
  .wp-block-navigation__responsive-container.is-menu-open 
    .wp-block-navigation__responsive-container-content a {
      font-size: 1.9rem !important;
      line-height: 1.4;
    }
}

@media (max-width: 38.75em) {
  /* Hide About submenu by default */
  nav.header-nav-links
    .wp-block-navigation-item.about-link.wp-block-navigation-submenu
    > .wp-block-navigation__submenu-container {
    display: none;
  }
}

.wp-block-navigation__responsive-close,
.wp-block-navigation__responsive-dialog {
  padding: 0 !important;
  margin: 0 !important;
}

header .wp-block-navigation__responsive-container.is-menu-open {
  margin: 0 0 1.5rem 0;
  border-bottom: 2px solid #2c4a7a;
  padding: 1rem;
}

.header-nav-links.wp-block-navigation {
  order: 3;
}

/* Change order of contact link in mobile */
@media (min-width: 38.8125em) {
  .wp-block-navigation.is-layout-flex.wp-block-navigation.is-layout-flex {
    order: 3;
  }
}

@media (max-width: 38.75em) {
  .wp-block-group.header-address {
    display: none;
  }
}

.wp-block-navigation__responsive-container-open {
  background-color: #2c4a7a;
  color: #f2e9dd;
  padding: 3px;
  border-radius: 3px;
}

.wp-block-navigation__responsive-container-close {
  margin: 1rem;
}

/* ------------------ Footer -------------------  */

/* Hover states */
.wp-block-navigation__container.footer-links.wp-block-navigation
  .wp-block-navigation-item.wp-block-navigation-link:hover {
  color: #2c4a7a;
  text-decoration: underline;
}

.wp-block-hhc-blocks-business-info a:hover,
.wp-block-group .quinnful-designs a:hover,
.email-address-link a:hover {
  text-decoration: underline;
}

/* Center columns on mobile devices */
@media (max-width: 48.8125em) {
  .wp-block-template-part {
    align-items: center !important;
  }
}

/* Buttons ---------------------------------------*/

/* Instagram button */
.wp-block-social-links .wp-social-link svg {
  width: 40px;
  height: 40px;
}

.wp-block-social-links .wp-social-link span:not(.screen-reader-text) {
  font-size: 1rem;
}

.wp-block-social-links .wp-social-link.wp-social-link-instagram:hover {
  transform: none !important;
  background-color: #664024 !important;
}

/* Psychology Today button */
.wp-block-image.psychtoday {
  transition: transform 0.2s ease-in;
}

.wp-block-image.psychtoday:hover {
  transform: scale(1.1);
}
