<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)"><!-- wp:heading {"textAlign":"left","level":1} -->
<h1 class="wp-block-heading has-text-align-left">Page Not Found</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>We couldn't find the page you were looking for, as it may have moved or no longer exists. Please explore the site using the navigation menu or use one of the links below.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"flex","orientation":"horizontal","justifyContent":"left"}} -->
<div class="wp-block-buttons" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:button {"className":"is-style-fill"} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link wp-element-button" href="http://helping-hands-counselling.local/">Return to home</a></div>
<!-- /wp:button -->

<!-- wp:button {"backgroundColor":"custom-secondary-background","textColor":"custom-main-text","className":"is-style-fill","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-main-text"}}}}} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link has-custom-main-text-color has-custom-secondary-background-background-color has-text-color has-background has-link-color wp-element-button" href="http://helping-hands-counselling.local/services/">View services</a></div>
<!-- /wp:button -->

<!-- wp:button {"backgroundColor":"custom-links-secondary-background","textColor":"custom-main-background","className":"is-style-fill","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-main-background"}}}}} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link has-custom-main-background-color has-custom-links-secondary-background-background-color has-text-color has-background has-link-color wp-element-button" href="http://helping-hands-counselling.local/contact/">Contact me</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->