<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","tagName":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|60"},"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:query-title {"type":"archive","showPrefix":false} /-->

<!-- wp:paragraph -->
<p>Below, you'll find a resource library of community services, and educational materials that you may find helpful as you access additional support outside of counselling.  To make browsing this site easier, all resource links open in a new tab.</p>
<!-- /wp:paragraph -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Section"},"layout":{"type":"default"}} -->
<section class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Crisis Support</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":7,"query":{"perPage":100,"pages":0,"offset":0,"postType":"resources","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[4]},"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"layout":{"type":"grid","columnCount":2}} -->
<!-- wp:post-content /-->
<!-- /wp:post-template -->

<!-- wp:query-no-results {"fontSize":"custom-4"} -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p>It looks like there aren't any resources here right now.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Section"},"layout":{"type":"default"}} -->
<section class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Healthcare Access</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":7,"query":{"perPage":100,"pages":0,"offset":0,"postType":"resources","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[5]},"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"layout":{"type":"grid","columnCount":2}} -->
<!-- wp:post-content /-->
<!-- /wp:post-template -->

<!-- wp:query-no-results {"fontSize":"custom-4"} -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p>It looks like there aren't any resources here right now.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Section"},"layout":{"type":"default"}} -->
<section class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Community Services</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":7,"query":{"perPage":100,"pages":0,"offset":0,"postType":"resources","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[6]},"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"layout":{"type":"grid","columnCount":2}} -->
<!-- wp:post-content /-->
<!-- /wp:post-template -->

<!-- wp:query-no-results {"fontSize":"custom-4"} -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p>It looks like there aren't any resources here right now.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Section"},"layout":{"type":"default"}} -->
<section class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Addiction Support</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":7,"query":{"perPage":100,"pages":0,"offset":0,"postType":"resources","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[7]},"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"layout":{"type":"grid","columnCount":2}} -->
<!-- wp:post-content /-->
<!-- /wp:post-template -->

<!-- wp:query-no-results {"fontSize":"custom-4"} -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p>It looks like there aren't any resources here right now.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></section>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->