<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:cover {"useFeaturedImage":true,"hasParallax":true,"dimRatio":50,"overlayColor":"custom-main-background","isUserOverlayColor":true,"minHeight":307,"minHeightUnit":"px","isDark":false,"sizeSlug":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light has-parallax" style="min-height:307px"><span aria-hidden="true" class="wp-block-cover__background has-custom-main-background-background-color has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:site-title {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-main-text"}}}},"textColor":"custom-main-text"} /--></div></div>
<!-- /wp:cover -->

<!-- wp:post-content /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->