<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","tagName":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"hero-wrapper","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group hero-wrapper" style="margin-top:0;margin-bottom:0"><!-- wp:group {"className":"hero-image-container","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group hero-image-container" style="margin-top:0;margin-bottom:0"><!-- wp:post-featured-image {"height":"500px","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"site-title-container","style":{"spacing":{"blockGap":"var:preset|spacing|70"}},"layout":{"type":"default"}} -->
<div class="wp-block-group site-title-container"><!-- wp:site-title {"textAlign":"center","isLink":false,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-main-text"}}}},"textColor":"custom-main-text"} /-->

<!-- wp:paragraph {"align":"center","placeholder":"Write title…","style":{"typography":{"fontSize":"1.9rem"},"elements":{"link":{"color":{"text":"var:preset|color|custom-main-text"}}}},"textColor":"custom-main-text"} -->
<p class="has-text-align-center has-custom-main-text-color has-text-color has-link-color" style="font-size:1.9rem"><strong>Therapy rooted in understanding and respect</strong></p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"style":{"spacing":{"blockGap":{"left":"var:preset|spacing|70"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"className":"explore-services-btn"} -->
<div class="wp-block-button explore-services-btn"><a class="wp-block-button__link wp-element-button" href="http://helping-hands-counselling.local/services/">Explore My Services</a></div>
<!-- /wp:button -->

<!-- wp:button {"backgroundColor":"custom-links-secondary-background","className":"contact-me-btn","borderColor":"custom-links-secondary-background"} -->
<div class="wp-block-button contact-me-btn"><a class="wp-block-button__link has-custom-links-secondary-background-background-color has-background has-border-color has-custom-links-secondary-background-border-color wp-element-button" href="http://helping-hands-counselling.local/contact/">Contact Me</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:post-content /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->